* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70vh;
  gap: 2rem;
}
.bg {
  background-color: #cfeafb;
  padding: 5rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
}
.login-form {
  display: flex;
  margin-top: 1rem;
  align-items: center;
}

.login-form [type="number"] {
  height: 2rem;
  width: 20rem;
  border-radius: 0.3rem;
}
.login-form button,
.date-calc button {
  height: 2rem;
  width: 5rem;
  cursor: pointer;
  border-radius: 0.3rem;
}
.login-form .btn {
  height: 2rem;
  width: 20rem;
  border-radius: 0.3rem;
}
.cal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

#result,
#result-1,
#ans {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  font-size: 2rem;
  text-decoration: underline;
}
#result span,
#result1 span {
  font-weight: 700;
}

input::placeholder {
  font-weight: 500;
  opacity: 0.5;
  color: #ec243b;
  padding-left: 1rem;
  font-size: 1rem;
}

button {
  background-color: #ec243b;
}
button:hover {
  background-color: #bd091d;
}
h1 {
  text-align: center;
}

.btn {
  background-color: rgb(126 176 221);
}
.btn:hover {
  background-color: rgb(58 108 153);
}
input {
  padding-left: 1rem;
}
.multiply {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cfeafb;
  padding: 5rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
}
.form-control {
  height: 2rem;
  width: 14rem;
  border-radius: 0.3rem;
}

.btn-sm {
  height: 2rem;
  width: 5rem;
  cursor: pointer;
  border-radius: 0.3rem;
}

#ans {
  margin-top: 3rem;
}

#sub {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.date-calc {
  background-color: #cfeafb;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3);
}
.date-calc h1 {
  margin-bottom: 1rem;
}
